/*GLOBAL STYLES*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  /* max-width: 1158px; */
  max-width: 320px;
  /* padding: 0 15px; */
  padding: 0 16px;
  margin: 0 auto;
}

/*HEADER*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: none;
  /* display: flex;
  align-items: center;
  gap: 40px; */
}

.contacts-list {
  display: none;
  /* display: flex;
  align-items: center; */
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  /* padding: 24px 0; */
  padding: 16px 0;
  /* margin-right: 76px; */
}

.header-logo .logo-accent {
  color: #4d5ae5;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  gap: 40px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.nav-link.current {
  position: relative;
  color: #404bbf;
}

.nav-link.current::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.burger-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 16px 0;
}

.burger-button-icon {
  display: block;
  fill: #2f2f37;
}
/*HERO*/

.section-main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
  /* min-height: 580px; */
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding-top: 72px;
  padding-bottom: 72px;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-mob-2x.jpg);
  }
}

.main-title {
  font-weight: 700;
  /* font-size: 56px;
  line-height: 1.07; */
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  /* margin: 0 auto 48px; */
  margin: 0 auto 72px;
}

.order-button {
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*FEATURES*/

.section-features {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-icons {
  display: none;
  /* display: flex;
  background-color: #f4f4fd;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px; */
}

.features-subtitle {
  /* font-weight: 500;
  font-size: 20px;
  line-height: 1.2; */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.features-text {
  /* font-weight: 400; */
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
}

.features-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}

/*TEAM*/

.section-team > .container {
  padding: 0 28px;
}

.section-team {
  background-color: #f4f4fd;
  /* padding-bottom: 120px;
  padding-top: 120px; */
  padding-bottom: 96px;
  padding-top: 96px;
}

.team-item {
  background-color: #fff;
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-icons-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
}

.team-icons {
  fill: #f4f4fd;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.team-card-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

/*PORTFOLIO*/

.section-portfolio {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 24px;
  row-gap: 48px; */
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .thumb-text {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
  padding: 32px 16px;
  width: 100%;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*FOOTER*/
.footer {
  background-color: #2e2f42;
  /* padding: 100px 0; */
  padding: 96px 0;
}

.footer-logo {
  margin: 0 auto;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.container.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin-right: 120px; */
  margin: 0 auto;
}

.footer-logo .logo-accent {
  color: #4d5ae5;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 100%;
  /* max-width: 264px; */
}

.footer-text {
  margin-bottom: 72px;
}

.footer-title-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-title-links {
  margin: 0 auto;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* margin-right: auto; */
  margin: 0 auto;
}

.footer-social-icons-list {
  display: flex;
  gap: 16px;
}

.footer-social-icons {
  fill: #f4f4fd;
}

.footer-icons-links {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-links:hover,
.footer-icons-links:focus {
  background-color: #31d0aa;
}

.footer-subscribe-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* margin-bottom: 16px; */
}

.footer-subscribe-title {
  margin: 72px auto 16px;
}

.footer-label {
  display: block;
}

.footer-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* gap: 24px; */
  gap: 16px;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #2e2f42;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input {
  margin: 0 auto;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-input:focus {
  border-color: #31d0aa;
  outline: none;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  color: #fff;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button {
  margin: 0 auto;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/*MOBILE MENU MODAL*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu:not(.is-open) .mobile-menu-modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.mobile-menu-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  min-height: 640px;
  padding: 72px 16px 40px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.menu-closebtn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid #8e8f99;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-closebtn-icon {
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-closebtn:active {
  background-color: #404bbf;
}

.menu-closebtn:active .menu-closebtn-icon {
  fill: #ffffff;
}

.mobile-menu-nav {
  margin-bottom: 168px;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-nav-link.current {
  color: #404bbf;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-address-link:active {
  color: #4d5ae5;
}

.menu-social-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu-social-icons-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-social-icons {
  fill: #f4f4fd;
}

/* BACKDROP MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 408px;
  min-height: 584px; */
  width: 288px;
  min-height: 623px;
  /* padding: 72px 24px 20px; */
  padding: 72px 16px 24px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid #8e8f99;
  border-radius: 50%;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button-icon {
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
}

.modal-close-button:hover .close-button-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-container {
  display: flex;
  justify-content: flex-start;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrapper {
  border-radius: 4px;
  /* width: 100%; */
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 8px;
}

.modal-input {
  border: 1px solid #2e2f42;
  outline: none;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 0 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textarea {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  font-weight: 400;
  /* font-size: 14px; */
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  resize: none;
  outline: none;
  min-height: 120px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-checkbox-wrapper {
  margin-top: 16px;
  margin-bottom: 24px;
}
.modal-checkbox-input:checked + .modal-checkbox-label > .modal-custom-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-custom-checkbox {
  border-radius: 2px;
  fill: #404bbf;
  border: 1px solid;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.modal-checkbox-icon {
  fill: #f4f4fd;
}

.modal-submit-button {
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #404bbf;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* HEADER SECTION */
  .burger-button {
    display: none;
  }

  .header-logo {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
  }

  .contacts-link {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  /* HERO SECTION */
  .section-main {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tab.jpg);

    @media screen and (min-resolution: 2x),
      (-webkit-min-device-pixel-ratio: 2) {
      background-image:
        linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  /* FEATURES SECTION */
  .features-icons {
    display: none;
  }

  .features-subtitle {
    text-align: left;
  }

  .features-list {
    row-gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 2);
  }
  /* TEAM SECTION */
  .section-team > .container {
    padding: 0 108px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px 24px;
  }
  /* PORFOLIO SECTION */
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  /* FOOTER SECTION */
  .container.footer-container {
    padding-left: 92px;
  }
  .footer-logo {
    margin: 0;
  }

  .footer-left {
    margin: 0;
    margin-right: 24px;
  }

  .footer-text {
    max-width: 264px;
    margin: 0;
  }

  .footer-middle {
    margin: 0;
  }

  .footer-title-links {
    margin: 0;
  }

  .footer-subscribe-title {
    margin: 72px 0 16px;
  }

  .footer-input-wrapper {
    gap: 24px;
  }

  /* MODAL BACKDROP */
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 20px;
  }

  .modal-input-wrapper {
    width: 100%;
  }

  .modal-input-textarea {
    font-size: 14px;
  }
}

/* DESKTOP MEDIA */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  /* HEADER SECTION */
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 24px 0;
  }

  .contacts-link {
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .header-logo {
    margin-right: 76px;
    padding: 24px 0;
  }
  /* HERO SECTION */
  .section-main {
    padding-top: 188px;
    padding-bottom: 188px;
    min-height: 580px;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);

    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-2x.jpg);
  }
  }

  .main-title {
    margin: 0 auto 48px;
  }
  /* FEATURES SECTION */
  .features-icons {
    display: flex;
    background-color: #f4f4fd;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-text {
    font-weight: 400;
  }

  .features-list {
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }
  /* TEAM SECTION */
  .section-team > .container {
    padding: 0 15px;
  }

  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .team-list {
    gap: 24px;
  }
  /* PORFOLIO SECTION */
  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  /* FOOTER SECTION */
  .container.footer-container {
    padding: 0 15px;
  }

  .footer {
    padding: 100px 0;
  }

  .footer-left {
    margin-right: 120px;
  }

  .footer-middle {
    margin-right: auto;
  }

  .footer-subscribe-title {
    margin-bottom: 16px;
  }

  .footer-input-wrapper {
    gap: 24px;
  }
}
